[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/DiligentGraphics/imgui
[submodule "ThirdParty/imguiDock"]
	path = ThirdParty/imguiDock
	url = https://github.com/SovjetSpy/imguiDock.git
