[submodule "ThirdParty/imguiDock"]
	path = ThirdParty/imguiDock
	url = https://github.com/SovjetSpy/imguiDock.git
[submodule "ThirdParty/docking"]
	path = ThirdParty/docking
	url = https://github.com/ocornut/imgui.git
